@font-face{
    font-family: "beaufort";
    src: url("../style/Beaufort\ for\ LOL\ Bold.ttf") format("truetype");
  }
footer{
    background: #111;
    height: 17vw;
    width: 100vw;
    font-family: "beaufort", serif;
    padding-top: 40px;
    color: #fff;
    margin-left: -1%;
    margin-bottom: -7%;
   
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 0.7rem;
    font-weight: 400;
    margin-top: -8%;
    text-transform: capitalize;
    line-height: 3rem;
    font-family: "beaufort", serif;
}

.footer-content p{
    max-width: 500px;
    margin-top: -5%;
    line-height: 28px;
    font-size: 10px;
    font-family: "beaufort", serif;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li{
    margin-top: -10%;
}

.socials a{
    text-decoration: none;
    color: #fff;

}

.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;

}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

@media screen and (min-width: 601px) {
    .footer-content h3{
        font-size: 1.8rem;
        font-weight: 400;
        margin-top: 0%;
        text-transform: capitalize;
        line-height: 3rem;
        font-family: "beaufort", serif;
    }
    
    .footer-content p{
        max-width: 500px;
        margin-top: 0%;
        line-height: 28px;
        font-size: 14px;
        font-family: "beaufort", serif;
    }
    footer{
        background: #111;
        height: 17vw;
        width: 100vw;
        font-family: "beaufort", serif;
        padding-top: 40px;
        color: #fff;
        margin-left: -0.5%;
        margin-bottom: -7%;
       
    }
    .socials li{
        margin-top: 0%;
    }
    
  
  }