@font-face{
  font-family: "beaufort";
  src: url("../style/Beaufort\ for\ LOL\ Bold.ttf") format("truetype");
}


.icon-bar {
  z-index: 50;
  margin-left: -1%;
  width: 101%; 
  overflow: none; 
  background-color: rgba(13, 14, 14, 1);
  position: fixed;
  display: block;
  margin-top: -1%;
  height: 100px;
}


.icon-bar a {
  float: left;
  position:relative ;
  margin-left: 4.5%;
  text-align: center; 
  width: 0%; 
  padding: 0px 0; 
  transition: all 0.3s ease;
  color: white; 
  font-size: 0px; 
  margin-top: 9px;
}

.icon-bar a:hover {
  filter: brightness(120%);
  transition: filter 0.25s ease;
  
}
.icon-bar label:hover{
  filter: brightness(140%);
 transform: scale(1.1);
 transition: filter 0.25s ease;
}

.logo_general{
  width: 75px;
  height: 75px;
}



.carte {
  margin-left: 49%;
  z-index: 55;
  width: 50%;  
  overflow: auto; 
  background-color: rgba(13, 14, 14, 1);
  position:absolute;
  position: fixed;
  display: block;
  margin-top: 1%;
}

.carte a {
  float: left;
  position:relative ;
  margin-left: 190%;
  text-align: center; 
  width: 20%; 
  padding: 7px 0; 
  transition: all 0.3s ease;
  color: #fff; 
  font-size: 0px; 
}



.poutre{
  background:
  linear-gradient(
    to right,
    rgba(13, 14, 14, 0),
    rgb(13, 14, 14, 0)
  ),
  linear-gradient(
    to right,
    rgba(255, 0, 0, 1),
    rgba(255, 0, 180, 1),
    rgba(0, 100, 200, 1)
);
background-size: 100% 3px, 0 3px;
background-position: 100% 100%, 0 100%;
background-repeat: no-repeat;
transition: background-size 2s;
margin-left: 10%;
}

.poutre:hover{

  filter: brightness(110%);
  transform: scale(1.1);
  background-size: 0 3px, 150% 3px;
}
.trait{
  background:
  linear-gradient(
    to right,
    rgba(13, 14, 14, 0.5),
    rgba(13, 14, 14, 0.5)
  ),
  linear-gradient(
    to right,
    rgba(255, 0, 0, 1),
    rgba(255, 0, 180, 1),
    rgba(0, 100, 200, 1)
);
background-size: 100% 3px, 0 3px;
background-position: 100% 100%, 0 100%;
background-repeat: no-repeat;
transition: background-size 2s;
}

.trait:hover{
  filter: brightness(90%);
  transform: scale(1.1);
  background-size: 0 3px, 150% 3px;
}


.logo {
  position: absolute;
  left: 0;
  height: 100%;
  filter: drop-shadow(0 0 1rem black) opacity(80%) grayscale(0.5);  position: absolute;
  margin-left: 0%;
}
.logo a {
  float: left;
  position:relative ;
  margin-left: 0%;
  text-align: center; 
  width: 20%; 
  padding: 7px 0; 
  transition: all 0.3s ease;
  color: #fff; 
  font-size: 0px; 
}




.navigation {
  width: 100%;
  z-index: 100;
}
.content{
  position: absolute;
  margin-left: 40%;
  cursor: pointer;
  margin-top: 20px;
}
.mainmenu, .submenu {
list-style: none;
padding: 0;
margin: 0;
z-index: 100;

}
.mainmenu a, .mainmenu label {
display: block;
text-decoration: none;
padding: 0px;
color: #fff

}


/* hide the input */
.mainmenu input {
display: none;
z-index: 100;
}
/* if a sibling checkbox is check show the menu */
.mainmenu input:checked ~ .submenu {
  position:relative;
  z-index: 100;
  display:block;
  max-height: 800px;
  width: auto;
  
  background-color: rgb(13, 14, 14, 1);
}

.submenu {
  background-color: rgb(13, 14, 14, 1);
overflow:scroll;
max-height: 0;
max-width: 100%;
transition: all 0.3s ease-out;
z-index: 100;
margin-top: 5%;
text-align: center;

}
.content2{
  position: absolute;
  margin-left: 40%;
  cursor: pointer;
  margin-top: 11px;
}

