:root {
  --color-primary: #0073ff;
  --color-white: #e9e9e9;
  --color-black: #141d28;
  --color-black-1: #212b38;

}

.menu-bar {
  background-color: rgba(red, green, blue, alpha);
  height: 80px;
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  margin-left: 52%;
  margin-top: 14%;

  position: relative;
}

.menu-bar ul {
  list-style: none;
  display: flex;
  margin-left: 9%;
}

.menu-bar ul li {
  width: 5%; 
  padding: 15px 30px;
  text-align: center; 

  position: relative;
}

.menu-bar ul li a {
  font-size: 20px;
  color: var(--color-white);
  text-decoration: none;

  transition: all 0.3s;
}



/* premier icone */
.dropdown-menu {
  display: none;
  
}


.menu-bar ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  top: 100%;
  margin-left: -80%;
  background-color: rgba(red, green, blue, alpha);
}

.menu-bar ul li:hover .dropdown-menu ul{
  display: block;
  margin: 0px;
  
}

.menu-bar ul li:hover .dropdown-menu ul li{
  margin-right: 0;
  width: 615px;
  height: 400px;
  padding: 0px;
  left: 200;
  
}
.menu-bar ul li:hover .dropdown-menu ul li h1{
  color: black;
}

.menu-bar ul li:hover .dropdown-menu ul li p{
  color: black;
}

.lore:hover{
  transform: scale(1.2);
  transition: filter 0.25s ease;
}

/* deuxieme icone*/

.manger{
display: none;
}

.menu-bar ul li:hover .manger{    
display: block;
position: absolute;
margin-left: -290%;
top: 100%;
background-color: rgba(red, green, blue, alpha);
}

.menu-bar ul li:hover .manger ul{
display: block;
margin: 0px;
}

.menu-bar ul li:hover .manger ul li{
width: 615px;
height: 400px;
padding: 0px;
}

.menu-bar ul li:hover .manger ul li h1{
  color: black;
}

.menu-bar ul li:hover .manger ul li p{
  color: black;
}




/* troisieme icone*/

.poitrine{
display: none;
}

.menu-bar ul li:hover .poitrine{
display: block;
position: absolute;
margin-left: -500%;
top: 100%;
background-color: rgba(red, green, blue, alpha);
}

.menu-bar ul li:hover .poitrine ul{
display: block;
margin: 0px;
}

.menu-bar ul li:hover .poitrine ul li{
width: 615px;
height: 400px;
padding: 0px;
}
.menu-bar ul li:hover .poitrine ul li h1{
  color: black;
}

.menu-bar ul li:hover .poitrines ul li p{
  color: black;

}



.pointeur{
cursor: initial;

}

