@font-face{
  font-family: "beaufort";
  src: url("../style/Beaufort\ for\ LOL\ Bold.ttf") format("truetype");
}

*{
  margin: 2px;
  padding: 2px;
  font-family: "beaufort", serif;
  font-weight: 500;
  scrollbar-width: thin;
  scrollbar-color: blue black;
  
}

*::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 10px solid ;
}


body{
  color: white;
  overflow-x: hidden;
  background-image: url("../images/fonds/fond\ 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000;
}



.parchemin3{
  position: absolute;
  margin-left: -1%;
  width: 100.3%;
  margin-top: 55%;
}
.coucou2{
  position: relative;
  margin-top: 100%;
}


.eclairzeri{
  position: absolute;
  margin-top: 0%;
  margin-left: -10%;
  width: 80%;
}

.etoilemontante{
  position: absolute;
  margin-top: 50%;
  color: black;
  margin-left: 65%;
  font-size: 80%;
}
.separation{
  position: absolute;
  margin-top: 55%;
  width: 30%;
  margin-left: 36%;
}
.zeri22{
  position: absolute;
  margin-top: 50%;
  color: black;
  margin-left: 72%;
  font-size: 200%;
}
.zeri22:hover {
  filter: brightness(120%) drop-shadow(0 0 1rem black);
  text-shadow: 0 0 1px #ffeab3, 0 0 10px #fff, 0 0 10px #000, 0 0 10px #faf322, 0 0 1px #1a1713;
  transition: 0.5ms;
}

.newsrecentes{
  position: absolute;
  margin-left: 33%;
  margin-top: 15%;
  font-size: 150%;
  font-family: "beaufort", serif;
  
}

.logo_general{
  width: 75px;
  height: 75px;
}


@media screen and (min-width: 601px) {
  .zeri-accueil{
    position: absolute;
    margin-top: 79%;
    color: black;
    margin-left: 72%;
    font-size: 450%;
  }
  .eclairzeri{
    position: absolute;
    margin-top: 55%;
    margin-left: -10%;
    size: 80%;
  }
  .etoilemontante{
    position: absolute;
    margin-top: 70%;
    color: black;
    margin-left: 65%;
    font-size: 200%;
  }
  .newsrecentes{
    position: absolute;
    margin-left: 41%;
    margin-top: 10%;
    font-size: 200%;
    font-family: "beaufort", serif;
    
  }
  .separation{
    position: absolute;
    margin-top: 9%;
    width: 30%;
    margin-left: 36%;
  }

}