

.fondnews{
    width: 90%;
    margin-bottom: -0.6%;
    margin-left: 5%;
}



*{
  margin: 2px;
  padding: 2px;
  font-family: Arial, Helvetica, sans-serif;
  scrollbar-width: thin;
  scrollbar-color: blue black;
}

*::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 10px solid ;
}


body{
  
  margin-left: -1.5px;
  margin-top: 000px;
  margin-bottom: 100px;
  background-image: url("../images/fonds/fond-chara\(1\).png");
  background-position: 0px 80px;
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
  
}


.allArticles1{
  width: 40vw;
  position: absolute;
  left: 0vw;
  padding: 10vh 5vw;
  background-color: rgba(57, 59, 64, 0);
  margin-left: 2%;
}
.allArticles2{
  width: 40vw;
  position: absolute;
  left: 0vw;
  padding: 10vh 5vw;
  background-color: rgba(57, 59, 64, 0);
  margin-left: 45%;
}
.allArticles3{
  width: 40vw;
  position: absolute;
  left: 0vw;
  padding: 10vh 5vw;
  background-color: rgba(57, 59, 64, 0);
  margin-left: 2%;
  margin-top: 10%;
}
.allArticles4{
  width: 40vw;
  position: absolute;
  left: 0vw;
  padding: 10vh 5vw;
  background-color: rgba(57, 59, 64, 0);
  margin-left: 45%;
  margin-top: 10%;
}
.allArticles5{
  width: 40vw;
  position: absolute;
  left: 0vw;
  padding: 10vh 5vw;
  background-color: rgba(57, 59, 64, 0);
  margin-left: 2%;
  margin-top: 20%;
}





.singleArticles1 {
  height: 7vw;
  margin: 1vw 0;
  padding: 1% 1.5%;
}
.singleArticles2 {
  height: 7vw;
  margin: 1vw 0;
  padding: 1% 1.5%;
}
.singleArticles3 {
  height: 7vw;
  margin: 1vw 0;
  padding: 1% 1.5%;
}
.singleArticles4 {
  height: 7vw;
  margin: 1vw 0;
  padding: 1% 1.5%;
}
.singleArticles5 {
  height: 7vw;
  margin: 1vw 0;
  padding: 1% 1.5%;
}


.singleArticles1 a {
  position: relative;
  height: 90%;
  border-radius: 0.5vw;
  padding: 1% 1.5%;
  display: flex;
  border: solid 10px black;
  transition: border-color 0.2s linear;
  background-color: rgb(29, 35, 35);
  cursor: pointer;
  text-decoration: none;
}
.singleArticles2 a {
  position: relative;
  height: 90%;
  border-radius: 0.5vw;
  padding: 1% 1.5%;
  display: flex;
  border: solid 10px black;
  transition: border-color 0.2s linear;
  background-color: rgb(29, 35, 35);
  cursor: pointer;
  text-decoration: none;

}
.singleArticles3 a {
  position: relative;
  height: 90%;
  border-radius: 0.5vw;
  padding: 1% 1.5%;
  display: flex;
  border: solid 10px black;
  transition: border-color 0.2s linear;
  background-color: rgb(29, 35, 35);
  cursor: pointer;
  text-decoration: none;
}
.singleArticles4 a {
  position: relative;
  height: 90%;
  border-radius: 0.5vw;
  padding: 1% 1.5%;
  display: flex;
  border: solid 10px black;
  transition: border-color 0.2s linear;
  background-color: rgb(29, 35, 35);
  cursor: pointer;
  text-decoration: none;
}
.singleArticles5 a {
  position: relative;
  height: 90%;
  border-radius: 0.5vw;
  padding: 1% 1.5%;
  display: flex;
  border: solid 10px black;
  transition: border-color 0.2s linear;
  background-color: rgb(29, 35, 35);
  cursor: pointer;
  text-decoration: none;
}




.articlesImg1 {
  background-image: url("../images/news/actu1.jpg");
  background-size: cover;
}
.articlesImg2 {
  background-image: url("../images/news/actu2.jpg");
  background-size: cover;
}
.articlesImg3 {
  background-image: url("../images/news/actu3.jpg");
  background-size: cover;
}
.articlesImg4 {
  background-image: url("../images/news/actu4.jpg");
  background-size: cover;
}
.articlesImg5 {
  background-image: url("../images/news/actu5.jpg");
  background-size: cover;
}

.articlesImg1, .articlesImg2, .articlesImg3, .articlesImg4, .articlesImg5, .articlesImg6 {
  width: 50%;
  height: 100%;
}
.articlesContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  
  text-shadow: None;
  color: white;
  margin-left: 2%;
}