*{
  margin: 2px;
  padding: 2px;
  font-family: 'Courier New', Courier, monospace;
}
body{
  color: white;
  margin-top: 000px;
  margin-bottom: 100px;
  background-image: url("fond\ 1.png");
  background-position: 0px 80px;
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
}



.icon-bar {
  margin-left: 0%;
  width: 98.8%;  
  overflow: auto; 
  background-color: darkslateblue;
  position: fixed;
  display: block;
}
.icon-bar a {
  float: left;
  position:relative ;
  margin-left: 5%;
  text-align: center; 
  width: 0%; 
  padding: 0px 0; 
  transition: all 0.3s ease;
  color: white; 
  font-size: 0px; 
  margin-top: 10px;
}

.icon-bar a:hover, label {
  filter: brightness(120%);
  transition: filter 0.25s ease;
}




.carte {
  margin-left: 53%;
  width: 40%;  
  overflow: auto; 
  background-color: darkslateblue;
  position:absolute;
  position: fixed;
  display: block;
  z-index: 10;
  margin-top: 20px;
}

.carte a {
  float: left;
  position:relative ;
  margin-left: 0%;
  text-align: center; 
  width: 20%; 
  padding: 7px 0; 
  transition: all 0.3s ease;
  color: #fff; 
  font-size: 0px; 
  margin-top: 10px;
}



.logo {
  margin-left: 0%;
  width: 50%;  
  overflow: auto; 
  background-color: darkslateblue;
  position: absolute;
  display: block;
}
.logo a {
  float: left;
  position:relative ;
  margin-left: 0%;
  text-align: center; 
  width: 20%; 
  padding: 7px 0; 
  transition: all 0.3s ease;
  color: #fff; 
  font-size: 0px; 
}



.navigation {
  width: 99%;
}
.maison{
  position: absolute;
  margin-left: 40%;
  cursor: pointer;
  margin-top: 11px;
}
.mainmenu, .submenu {
list-style: none;
padding: 0;
margin: 0;

}
.mainmenu a, .mainmenu label {
display: block;
text-decoration: none;
padding: 0px;
color: #000;
}


/* hide the input */
.mainmenu input {
display: none;
}
/* if a sibling checkbox is check show the menu */
.mainmenu input:checked ~ .submenu {
  position:relative;
  display:block;
  max-height: 300px;
  width: auto;
background-color: aqua;
}

.submenu {
background-color: blue;
overflow:scroll;
max-height: 0;
max-width: 100%;
transition: all 0.3s ease-out;
z-index: 10;
margin-top: 6%;
text-align: center;

}



.Akshan{
  display: inline-block;
  
  margin-left: 10%;
}


