*{
  margin: 2px;
  padding: 2px;
  font-family: 'Courier New', Courier, monospace;
}
body{
  color: white;
  margin-top: 000px;
  margin-bottom: 100px;
  background-image: url("fond\ 1.png");
  background-position: 0px 80px;
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
}



.icon-bar {
  margin-left: 0%;
  width: 98.8%;  
  overflow: auto; 
  background-color: darkslateblue;
  position: fixed;
  display: block;
}
.icon-bar a {
  float: left;
  position:relative ;
  margin-left: 55%;
  text-align: center; 
  width: 0%; 
  padding: 0px 0; 
  transition: all 0.3s ease;
  color: white; 
  font-size: 0px; 
  margin-top: 10px;
}




.logo {
  margin-left: 0%;
  width: 50%;  
  overflow: auto; 
  background-color: darkslateblue;
  position: absolute;
  display: block;
}
.logo a {
  float: left;
  position:relative ;
  margin-left: 0%;
  text-align: center; 
  width: 20%; 
  padding: 7px 0; 
  transition: all 0.3s ease;
  color: #fff; 
  font-size: 0px; 
}



.navigation {
  width: 100%;
}
.maison{
  position: absolute;
  margin-left: 40%;
  cursor: pointer;
}
.mainmenu, .submenu {
list-style: none;
padding: 0;
margin: 0;

}
.mainmenu a, .mainmenu label {
display: block;
text-decoration: none;
padding: 0px;
color: #000;
}


/* hide the input */
.mainmenu input {
display: none;
}
/* if a sibling checkbox is check show the menu */
.mainmenu input:checked ~ .submenu {
display: block;
max-height: 200 px;
}

.submenu{

overflow: auto;
max-height: 0;
transition: all 0.3s ease-out;
z-index: 1;
}



.Akshan{
  position: absolute;
  left: 0%;
  right: 10%;
}


