*{
  margin: 2px;
  padding: 2px;
  font-family: 'Courier New', Courier, monospace;
  scrollbar-width: thin;
  scrollbar-color: blue black;
}

*::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 10px solid ;
}


body{
  color: white;
  margin-left: -1.5px;
  margin-top: 000px;
  margin-bottom: 100px;
  background-image: url("../images/fonds/fond\ 1.png");
  background-position: 0px 80px;
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
}

.arbre{
  margin-top: 13%;
  margin-left: -1%;
  width: auto;
  height: 50%;
  max-width: 101%;
  text-decoration: none;
}




