body{
    color: white;
    margin-left: -1.5px;
    margin-top: 000px;
    margin-bottom: 100px;
    background-image: url("../images/fonds/wallpaperpagechara.jpg");
    background-position: 0px 80px;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
  }

.fondnews{
    position: absolute;
    width: 98%;
}