*{
    margin: 2px;
    padding: 2px;
    font-family: 'Courier New', Courier, monospace;
    scrollbar-width: thin;
    scrollbar-color: blue black;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 10px solid ;
  }
  
  
  body{
    color: white;
    margin-left: -1.5px;
    margin-top: 000px;
    margin-bottom: 100px;
    background-image: url("../images/fonds/wallpaperpagechara.jpg");
    background-position: 0px 80px;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
  }
.parchemin{
  margin-top: 4%;
 margin-left: -0.25%;
  width: 100.3%;
  position: absolute;
  margin-left: -1%;
}

.bar{
  position: absolute;
  margin-left: 54.1%;
  margin-top: 8.8%;
  width: 42%;
  
}

.video{
  margin-left: 16%;
  margin-top: 40%;
  margin-bottom: 12%;
}

.akshan{
  position: absolute;
  margin-top: 5%;
  width: 72.5%;
  margin-left: -16%;
}

.belveth{
  position: absolute;
  margin-top: 5%;
  width: 72.5%;
  margin-left: -20%;
}

.gwen{
  position: absolute;
  margin-top: 2%;
  width: 65%;
  margin-left: -17%;
}

.ksante{
  position: absolute;
  margin-top: 3.32%;
  width: 72%;
  margin-left: -17%;
}

.lillia{
  position: absolute;
  margin-top: 5.3%;
  width: 72%;
  margin-left: -10%;
}

.renata{
  position: absolute;
  margin-top: 5.3%;
  width: 72%;
  margin-left: -20%;
}

.senna{
  position: absolute;
  margin-top: 4.7%;
  width: 73%;
  margin-left: -20%;
}

.vex{
  position: absolute;
  margin-top: 5.2%;
  width: 73%;
  margin-left: -20%;
}
.yuumi{
  position: absolute;
  margin-top: 0%;
  width: 73%;
  margin-left: -15%;
}

.competence1{
  position: absolute;
}
.competence1txt{
  position: absolute;
  color: black;
  margin-left: 15%;
  margin-top: 5%;
}
.competence2{
  position: absolute;
  margin-top: 15%;
}
.competence2txt{
  position: absolute;
  color: black;
  margin-left: 15%;
  margin-top: 20%;
}
.competence3{
  position: absolute;
  margin-top: 30%;
}
.competence3txt{
  position: absolute;
  color: black;
  margin-left: 15%;
  margin-top: 35%;
}
.competence4{
  position: absolute;
  margin-left: 50%;
}
.competence4txt{
  position: absolute;
  color: black;
  margin-left: 65%;
  margin-top: 5%;
}
.competence5{
  position: absolute;
  margin-left: 50%;
  margin-top: 15%;
}
.competence5txt{
  position: absolute;
  color: black;
  margin-left: 65%;
  margin-top: 20%;
}

.lorespace{
  margin-top: 20px;
}